# Common temp files
.DS_Store
.vscode/
*.iml
.idea
*.pyc
*.pickle
*.swp
*.swo

# Bazel related
bazel-*

#logs files
output-var/
output-pertub/
output/
src/__pycache__/
src/optim_parralel.py
src/figs/
src/image/
src/expe/dummy_parr.py
src/expe/params_dummy.mat
src/logs_results/output-speed-test/
src/logs_results/output-ts-rs/
src/logs_results/output_joint_seq/
src/logs_results/BUILD
src/logs_results/Electric_plots/Aversion_illustration.png
src/logs_results/Electric_plots/Aversion_illustrations.png
src/logs_results/Electric_plots/Charge_SoC_eVTOLs_SLS.png
src/logs_results/Electric_plots/Charge_SoC_eVTOLs_SLS_test_propagation.png
src/logs_results/Electric_plots/Mus_trajectories_SLS.png
src/logs_results/Electric_plots/Rewards_trajectories_SLS.png
src/logs_results/Electric_plots/SLS_convergence.png
src/logs_results/Electric_plots/problem_instance.mps
src/logs_results/Performance_logs/
src/logs_results/instances_data/
src/electric/simplified_graph.in
src/expe/Debug_LOGs_Parr.txt
src/expe/Debug_LOGs_Seq.txt
src/expe/expe_mh_parralel.py
src/expe/params_parr.mat
src/electric/graph.in
src/electric/graph.png

#files
output-ts-rs/
output_joint_seq/
output_speed_test_second/

#nb
src/electric/.ipynb_checkpoints/
src/electric/__pycache__/
src/electric/dev_test.ipynb


#other
.python-version
assigmentMap_sol_init.npy
assigment_sol_init.npy
charging_sol_init.npy
costs_pb_instance.npy
demands_pooling_0.npy
demands_pooling_1.npy
demands_pooling_2.npy
demands_pooling_3.npy
demands_pooling_4.npy
demands_pooling_5.npy
energybought_sol_init.npy
energylvl_sol_init.npy
logtest
playground_bazel/
requests_pb_instance.npy
requestsids_pb_instance.npy
src/electric/data_instance.dzn
src/electric/datafiles/